POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URL=
DATABASE_SYNC_URL=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

BACKEND_CORS_ORIGINS=

LLM_API_KEY=
LLM_MODEL=
LLM_BASE_URL=
LLM_HISTORY_LIMIT=